#input {
    float: left;
    width: 40%
}
#input th {
    width: 7em !important;
}
#input section {
    padding: 1em;
}
.examples li {
    margin-bottom: .7em;
}
.examples code {
    cursor: pointer;
}
#rfc-input input {
    font-family: monospace;
}

#options-input input, #options-input select {
    font-size: 1em;
}
.option-name  {
    position: relative;
    cursor: help;
}
.option-name .help {
    border-radius: .3em;
    font-weight: normal;
    display: none;
    position: absolute;
    padding: 1em;
    background: #333;
    color: #fafafa;
    border: 1px solid #000;
    left: 110%;
    right: -100%;
    width: 350px;
    text-align: left;
    top: -1em;
    box-shadow: 3px 3px 3px #888;
    line-height: 1.6;
    font-size: .9em;
}
.option-name .help code {
    color: #fff;
    background: #000;
}
.option-name:hover code:first-child{
    background: #222;
    color: #fafafa;
}
.option-name:hover .help {
    display: block;
}


/* Output
-------------------------------------- */


#output {
    float: right;
    width: 58%
}
#output pre {
    white-space: pre-wrap;
}
#output td {
    background: #fff;
}
#output td, #output th {
    vertical-align: top;
}
#output li {
    font-family: monospace;
}
#output li:nth-child(even) {
    background: #f1f1f1;
}
#dates {
    font-size: .9em;
}
#dates td:first-child {
    color: #ccc;
}
#dates td:first-child {
    text-align: right;
}
#dates td.b {
    background: #eaeaea;
}
#dates td.b {
    background: #f0f0f0;
}

#output a {
    color: inherit
}

.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
}
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #337ab7;
  border-color: #337ab7;
}
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}
.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
  color: #fff;
}

.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
}
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #337ab7;
}

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c;
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff;
}
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff;
}

.selectmonthlocal .select2-selection--single{
  border-radius: 0 !important;
}
.selectmonthlocal .select2-selection__rendered{
  padding-left: 0 !important;
  text-overflow: inherit !important;
}
.selectmonthlocal .select2-container--default .select2-selection--single,.selectmonthlocal .select2-selection .select2-selection--single {
  padding: 4px 8px !important;
}

.controls {
    margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}
.maps #map {
  height: 400px;
}
.intl-tel-input {
  width:100%;
}
#filedrag
{
 
  font-weight: bold;
  text-align: center;
  padding: 1em 0;
  margin: 1em 0;
  color: #555;
  border: 2px dashed #555;
  border-radius: 7px;
  cursor: default;
}

#filedrag.hover
{
  color: #f00;
  border-color: #f00;
  border-style: solid;
  box-shadow: inset 0 3px 4px #888;
}
.vich-image input{
  display: none;
}
.vich-image #mdts_homebundle_eventartistesdjorganisateurs_photoFile_file{
    display: none;
}
/***** Loaders css *************/

/***** Loaders css *************/
.twitter-typeahead {
    width: 100% !important;
}
.tt-menu {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
.tt-suggestion > p {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
    cursor: pointer;
}
.tt-suggestion:hover,
.tt-suggestion:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}
.tt-suggestion.tt-cursor  {
    color: #ffffff;
    background-color: #428bca;
}
span.twitter-typeahead {
    /*width: 100%;*/
}
.input-group span.twitter-typeahead {
    display: block !important;
}
.input-group .tt-menu {
    top: 32px !important;
}
.input-group.input-group-lg .tt-menu {
    top: 44px !important;
}
.input-group.input-group-sm .tt-menu {
    top: 28px !important;
}
.table-autocomplete td {
    padding: 3px;
}
.empty-message {
  padding:10px;
}
.border4px {
    border:4px solid #fff;padding:2px;
}
.setmain {
    border-color: #8c8c8c;
}
/* Spacing Helpers */
/* --------------- */
.man,
.ma0 {
    margin: 0;
}

.pan,
.pa0 {
    padding: 0;
}

.mas {
    margin: 1rem;
}

.mam {
    margin: 2rem;
}

.mal {
    margin: 4rem;
}

.pas {
    padding: 1rem;
}

.pam {
    padding: 2rem;
}

.pal {
    padding: 4rem;
}

.mtn,
.mt0 {
    margin-top: 0;
}

.mts {
    margin-top: 1rem;
}

.mtm {
    margin-top: 2rem;
}

.mtl {
    margin-top: 4rem;
}

.mrn,
.mr0 {
    margin-right: 0;
}

.mrs {
    margin-right: 1rem;
}

.mrm {
    margin-right: 2rem;
}

.mrl {
    margin-right: 4rem;
}

.mbn,
.mb0 {
    margin-bottom: 0;
}

.mbs {
    margin-bottom: 1rem;
}

.mbm {
    margin-bottom: 2rem;
}

.mbl {
    margin-bottom: 4rem;
}

.mln,
.ml0 {
    margin-left: 0;
}

.mls {
    margin-left: 1rem;
}

.mlm {
    margin-left: 2rem;
}

.mll {
    margin-left: 4rem;
}

.mauto {
    margin: auto;
}

.mtauto {
    margin-top: auto;
}

.mrauto {
    margin-right: auto;
}

.mbauto {
    margin-bottom: auto;
}

.mlauto {
    margin-left: auto;
}

.ptn,
.pt0 {
    padding-top: 0;
}

.pts {
    padding-top: 1rem;
}

.ptm {
    padding-top: 2rem;
}

.ptl {
    padding-top: 4rem;
}

.prn,
.pr0 {
    padding-right: 0;
}

.prs {
    padding-right: 1rem;
}

.prm {
    padding-right: 2rem;
}

.prl {
    padding-right: 4rem;
}

.pbn,
.pb0 {
    padding-bottom: 0;
}

.pbs {
    padding-bottom: 1rem;
}

.pbm {
    padding-bottom: 2rem;
}

.pbl {
    padding-bottom: 4rem;
}

.pln,
.pl0 {
    padding-left: 0;
}

.pls {
    padding-left: 1rem;
}

.plm {
    padding-left: 2rem;
}

.pll {
    padding-left: 4rem;
}
/* Colors Helpers */
/* --------------- */
.color-grey {
    color: #999999 !important;
}

.hiddenbe {
    display:none !important;
}
