@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
body{padding:4px;margin:0;font-size:1em;font-family:'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;}
p{margin:0; padding:0}
.highlight {
    background-color: #1ab7ea;
}
.highlight_gris {
    background-color: #A1D490;
}