{% extends '::base.html.twig' %}

{% block body -%}
    <h1>NewsletterAbonne list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Inscritdate</th>
                <th>Desinscrit</th>
                <th>Desinscritdate</th>
                <th>Infos</th>
                <th>Country_isocode</th>
                <th>Country_name</th>
                <th>City_name</th>
                <th>Location_timezone</th>
                <th>Source</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('newsletterabonne_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.email }}</td>
                <td>{% if entity.inscritdate %}{{ entity.inscritdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.desinscrit }}</td>
                <td>{% if entity.desinscritdate %}{{ entity.desinscritdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.infos }}</td>
                <td>{{ entity.countryisoCode }}</td>
                <td>{{ entity.countryname }}</td>
                <td>{{ entity.cityname }}</td>
                <td>{{ entity.locationtimeZone }}</td>
                <td>{{ entity.source }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('newsletterabonne_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('newsletterabonne_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('newsletterabonne_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
