{% extends '::base.html.twig' %}

{% block body -%}
    <h1>NewsletterAbonne</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Inscritdate</th>
                <td>{{ entity.inscritdate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Desinscrit</th>
                <td>{{ entity.desinscrit }}</td>
            </tr>
            <tr>
                <th>Desinscritdate</th>
                <td>{{ entity.desinscritdate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Infos</th>
                <td>{{ entity.infos }}</td>
            </tr>
            <tr>
                <th>Country_isocode</th>
                <td>{{ entity.countryisoCode }}</td>
            </tr>
            <tr>
                <th>Country_name</th>
                <td>{{ entity.countryname }}</td>
            </tr>
            <tr>
                <th>City_name</th>
                <td>{{ entity.cityname }}</td>
            </tr>
            <tr>
                <th>Location_timezone</th>
                <td>{{ entity.locationtimeZone }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ entity.source }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('newsletterabonne') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('newsletterabonne_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
