{# app/Resources/views/blog/index.html.twig #}
{% extends 'mdtshomeBundle::base.html.twig' %}

{% form_theme form _self %}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
          <div class="alert alert-warning" role="alert">
            {% for error in errors %}
               - {{ error.message }}<br>
            {% endfor %}
            </div>
         
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block captcha_widget %}
{% spaceless %}
    <div class="row">
      <div class="col-xs-4 col-sm-3 col-md-3 text-center">
        <img data-gaecategory="Image" data-gaelabel="Contact Captcha Image" src="{{ captcha_code }}" title="captcha" width="{{ captcha_width }}" height="{{ captcha_height }}" />
      </div>
      <div class="col-xs-8 col-sm-9 col-md-9">Merci de saisir dans le champ ci-dessous les caractères qui apparaissent sur l'image. Si caractères  illisibles, essayez de recharger votre navigateur en <a data-gaecategory="Cta" data-gaelabel="Contact Refresh Captcha" href="{{ path('mts_contact' ) }}"><strong>cliquant ici</strong></a>.</div>

    </div>
     <div class="clearfix" style="margin-top:5px;">
     <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 text-center">
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
      </div>
      </div>
    
    </div>
{% endspaceless %}
{% endblock %}


{% block title %}{{'Nous contacter'|trans}} - Madatsara{% endblock %}



{% block body %}
 <h2>{{'Nous contacter'|trans}}</h2>            
      



      <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9">
          <p>Pour envoyer un événement à afficher dans ce site.</p>

          <p>Les données collectées par le biais de&nbsp;ce formulaire ne seront en aucun cas utilisées à d'autres fins ou publiées vers nos partenaires.
</p>
<p>Si vous souhaitez joindre un fichier à votre message (exemples : <strong>article ou texte dont vous êtes l'auteur</strong>, photos, évènement...) , il est préférable d'utiliser l'adresse email suivant : <strong data-gaecategory="Texte" data-gaelabel="Contact email"> madatsara@gmail.com</strong></p>

<h3>Echange de lien</h3>

<p>Si vous souhaitez récupérer notre logo en vue d'un échange de lien vers notre site, de le poser dans une affiche, vous pouvez récupérer un des logos ci-dessous en fonction du support souhaité.</p>
<hr>
<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-4"><img  data-gaecategory="Image" data-gaelabel="Contact Image fondblanc" class="center-block img-responsive" src="{{ asset('assets/img/logomadatsara-fondblanc.jpg') }}"><figcaption class="csc-textpic-caption">Fond Blanc</figcaption></div>
  <div class="col-xs-12 col-sm-4 col-md-4"><figure class="csc-textpic-image csc-textpic-last"><img  data-gaecategory="Image" data-gaelabel="Contact Image fondred" src="{{ asset('assets/img/logomadatsara-fondred.jpg') }}" class="center-block img-responsive" ><figcaption class="csc-textpic-caption">Fond Rouge</figcaption></figure></div>
  <div class="col-xs-12 col-sm-4 col-md-4"><figure class="csc-textpic-image csc-textpic-last"><img  data-gaecategory="Image" data-gaelabel="Contact Image fondtransparent" src="{{ asset('assets/img/logomadatsara-fondtransparent.png') }}" class="center-block img-responsive" ><figcaption class="csc-textpic-caption">Fond Transparent</figcaption></figure></div>
</div>





<hr>

{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

{% for flashMessage in app.session.flashbag.get('notice') %}
<div class="alert alert-info alert-dismissible" role="alert">
  <button data-gaecategory="Cta" data-gaelabel="Contact Alert Close" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Info</strong> - {{ flashMessage }}
</div>
{% endfor %}
<div class="">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.name) }}
    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.name, 'form.contact.lbl.name'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

      

      <div class="col-sm-9">
        {# Génération de l'input. #}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.email) }}
    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.email, 'form.contact.lbl.email'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

      

      <div class="col-sm-9">
        {# Génération de l'input. #}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.message) }}
    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.message, 'form.contact.lbl.message'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

      

      <div class="col-sm-9">
        {# Génération de l'input. #}
        {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.subscribe) }}
    <div class="form-group"> 
      <div class="col-sm-3"></div>                  
      <div class="col-sm-9">
        <div class="checkbox checkbox-danger">
           
          {# Génération de l'input. #}
          {{ form_widget(form.subscribe, {'attr': {'class': 'styled'}}) }}
          {{ form_label(form.subscribe, 'form.contact.lbl.subscribe'|trans ) }}
           
        </div>
      </div>
    </div>


    {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.captcha) }}
    <div class="form-group">
       

      <div class="col-sm-3"></div>

      <div class="col-sm-9">
        {# Génération de l'input. #}
        {{ form_widget(form.captcha) }}
      </div>
    </div>

     

  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  <div class="form-group">
    <div class="col-sm-3"></div>
    <div class="col-sm-9">
  {{ form_widget(form.save, {'label': 'form.contact.btn.submit'|trans , 'attr': {'value' : 'Envoyer' ,'class': 'btn btn-primary'}}) }}
  </div>
  </div>

  {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(form) }}
  
  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
  <p><small>Tous les champs sont obligatoires.</small>  </p>
</div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">

            {% include "mdtshomeBundle:Partial:sidebargenerique.html.twig" %}



        </div>
      </div>
      
     
{% endblock %}
