{# app/Resources/views/blog/index.html.twig #}
{% extends app.request.xmlHttpRequest ? 'mdtshomeBundle::empty.html.twig': 'mdtshomeBundle::base.html.twig' %}

  {% set titre = type %}

  {# Evenements dans fêtes speciaux #}
  {% if type == 'alleventlocalAction' %}
    {% set titre = slug|getlocalevent %}
  {% endif %}
  {# Evenements du mois #}
  {% if type == 'alleventmonthAction' %}
    {% set titre = "Evénements "|trans ~ MonthNextEvent %}
  {% endif %}
  {# Evenements de la semaine #}
  {% if type == 'alleventweekAction' %}
    {% set titre = "Evénements de la semaine"|trans %}
  {% endif %}
   {# Evenements dans un lieu #}
  {% if type == 'alleventplaceAction' %}
    {% set titre =  slug|getlieuevent ~ " - événements récents" %}
  {% endif %}
      {# Evenements dans une rubrique #}
  {% if type == 'alleventtypeAction' %}
    {% set titre = "Evénements dans "|trans ~ slug|gettypeevent %}
  {% endif %}
      {# Tous les evenements #}
  {% if type == 'alleventAction' %}
    {% set titre = "Tous les événements"|trans %}
  {% endif %}

      {# Evenements par artiste #}
  {% if type == 'eventbyartisteAction' %}
      {% set titrefield =   slug|getartiste %}
      {% set titre =   titrefield.name %}
      {% set titre =   titre ~ " - Evénements" %}
      {% set photo =   titrefield.photo %}

  {% endif %}

{# Variable  <title></title> #}
{% block title %}{{ titre }}{% endblock %}
{# Variable  <meta property="og:title"> #}
{% block ogtitle %}{{ titre }} - Madatsara{% endblock %}
{# Variable  <meta name="twitter:title"> #}
{% block twittertitle %}{{ titre }} - Madatsara{% endblock %}
{# Variable  <meta itemprop="name"> #}
{% block itempropname %}{{ titre }} - Madatsara{% endblock %}
{# Variable  <meta name="description"> #}
{% block metadesc %}{{ titre }} - Madatsara{% endblock %}
{# Variable  <meta property="og:description"> #}
{% block metaogdesc %}{{ titre }} - Madatsara{% endblock %}
{# Variable  <meta name="twitter:description"> #}
{% block metatwitterdesc %}{{ titre }} - Madatsara{% endblock %}
{# Variable <meta itemprop="description"> #}
{% block metaitempropdesc %}{{ titre }} - Madatsara{% endblock %}


{# Formulaire de recherche #}
{% block searchglobal %}
     {% include "mdtshomeBundle:Partial:searchform.html.twig" with { form: searchForm } %}          
{% endblock %}
{% block body %}
    {# On est dans un context AJAX #}
    {% if app.request.xmlHttpRequest == true %}
        {% include "mdtshomeBundle:Default:ajaxevenements.html.twig"  %}
    {% endif %}

    {# On est dans un context normal #}
    {% if app.request.xmlHttpRequest == false %}
        {% include "mdtshomeBundle:Default:normalevenements.html.twig"  %}
    {% endif %}
{% endblock %}
