{# -------------- begin header ------------------ #}
<div class="page-header clearfix">
    <div class="pull-left">
        <h3 data-gaecategory="Entete" data-gaelabel="{{ titre }} - Archives">
            {% if photo is defined and photo is not empty and file_exists(asset('assets/artistes_orig/'~photo ))%}
                <img data-gaecategory="Image" data-gaelabel="Events - {{ titre }}" class="circle-image" src="{{ asset('assets/artistes_orig/'~photo )  | imagine_filter('my_thumb_70') }}" alt="" />
            {% endif %}
            <span data-gaecategory="Entete" data-gaelabel="Events - {{ titre }}">{{ titre }}</span>
        </h3>
    </div>
    <div class="pull-right">
        {% include "mdtshomeBundle:Partial:addevent.html.twig"  %}
    </div>
</div>
{# -------------- end header ------------------ #}

{# Evenements  #}
{% if events|length > 0 %}
    <div class="row data-liste">
        {% for item in events %}
                {% include "mdtshomeBundle:Partial:itemevent.html.twig" with { item: item  }%}
        {% endfor %}
    </div>
{% endif %}

{# Pagination #}
{% if events|length > 0 or allevents|length>0 %}
    {% include "mdtshomeBundle:Partial:pagination.html.twig" %}
{% endif %}

{# Si Evenements vides #}
{% if  events|length <= 0 and allevents|length<=0 %}
    {% include "mdtshomeBundle:Partial:noevent.html.twig" %}
{% endif %}