<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <link type="text/plain" rel="author" href="humans.txt">

        <title>{% block title %}{{'hometitle'|trans}}{% endblock %}</title>
       <meta name="description" content="{{'Evènements malagasy et sur Madagascar - Madatsara'|trans}}">
<meta name="verify-v1" content="k8rL7/Zq2pa966Zh+/p1Gnw2lQxglkApa4IRYrXplW4=" />

      
      <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/styles.css') }}"  media="screen,projection"/>
      {% block stylesheets %}{% endblock %}

      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2014032-1', 'auto');
  ga('send', 'pageview');

</script>



    </head>

    <body role="document">
     <!-- Fixed navbar -->
    <nav class="yamm navbar navbar-default navbar-fixed-top red-darken-4">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">{{ 'Toggle navigation'|trans }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('mdtshome_homepage') }}" id="logo-container"><span >Madatsara</span></a>
        </div>
         
      </div>
    </nav>
    <div class="container " >

   
    
  {% block body %}{% endblock %}
  
    </div> <!-- /container -->

    <footer class="footer">
      <div class="container">
        <p class="text-muted">{{ "now"|date("Y") }} <a  href="//madatsara.com">Madatsara</a></p>
      </div>
    </footer>


   
    
         


      <script type="text/javascript" src="{{ asset('assets/js/scripts.js') }}"></script>
      {% block javascripts %}{% endblock %}

    </body>
  </html>
