<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block htmlHead %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>