{# app/Resources/views/blog/index.html.twig #}
{% extends 'mdtsBackendBundle::base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block javascripts %}
  
{% endblock %}

{% block stylesheets %}

{% endblock %}


{% block searchglobal %}
     {% include "mdtsBackendBundle:Partial:searchform.html.twig" with { form: searchForm } %}          
{% endblock %}

{% block body %}

<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Entrée
        <small>liste</small>
      </h1>
      <!--ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol-->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Info</h3>
            </div>

            

             

             <div class="box-body table-responsive ">
                <p>{{all|length}} items enregistrés</p>
                <table class="table table-hover">
                  <tr>
                    <th><input type="checkbox" ></th>
                    <th>Nom</th>
                    <th >#</th> 
                  </tr>

                  {% for item in all %}
                  <tr>
                    <td><input type="checkbox" ></td>
                    <td>{{ item.name }}</td> 
                    <td><a href="{{ path('mdts_backend_entreetype_edit', {'id': item.id}) }}" class="btn btn-xs btn-default">Editer</a> <a href="{{ path('mdts_backend_entreetype_delete', {'id': item.id}) }}" class="btndelete btn btn-xs btn-danger">Supprimer</a></td>                     
                  </tr>
                  {% endfor %}
                </table>
             </div>

             
             




          </div>
          <!-- /.box -->
          </div>
          </div>

      </section>
    <!-- /.content -->

{% endblock %}

