{% extends 'mdtsMobileBundle::base.html.twig' %}
{% block title %}{{'hometitle'|trans}}{% endblock %}

{% block body %}
    {# --- All thematiques begin --- #}
    <div class="row">
        {% for type in all_thematiques%}
            <div class="col-xs-12 col-sm-6 col-md-6 center-block text-center"><a data-gaecategory="Rubrique evenements : {{ type.name }}" data-gaelabel="{{ type.name }}" data-gaevalue="" href="{{ path('mdts_allevent_type', {'slug': type.slug}) }}" class="btnblock btn-large btn-default"><strong>{{ type.name }}</strong></a></div>
        {% endfor %}
    </div>
    {# --- All thematiques end --- #}

    {# --- Events week begin --- #}
    {% if week_events %}



        <div class="page-header clearfix">
            <div class="pull-left" >
                <h3  data-gaecategory="Entete" data-gaelabel="{{ d1|localizeddate('medium', 'none',null, null, "d MMM" ) }} au {{ d2|localizeddate('medium', 'none' ,null, null, "d MMM yyyy" ) }}" >{{'Event this week'|trans}} du {{ d1|localizeddate('medium', 'none',null, null, "d MMM" ) }} au {{ d2|localizeddate('medium', 'none' ,null, null, "d MMM yyyy" ) }}</h3>
            </div>
        </div>



        <div class="row">
            {% for item in week_events %}
                {% include "mdtsMobileBundle:Partial:itemevent.html.twig" with { item: item }%}
            {% endfor %}


        </div>
        <div class="clearfix">
            <div class="pull-right">
                <a data-gaecategory="Lien" data-gaelabel="Tous les events - Semaine du {{ d1|localizeddate('medium', 'none',null, null, "d MMM" ) }} au {{ d2|localizeddate('medium', 'none' ,null, null, "d MMM yyyy" ) }}" data-toggle="tooltip" data-placement="top" title="{{'Afficher tous les événements'|trans}}" href="{{ path('mdts_allevent_week') }}" id="download-button" class="btn btn-default">{{'Tous les événements'|trans}} <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
            </div>
        </div>
        <br>
    {% endif %}
    {# --- Events week end --- #}

{% endblock %}