{# app/Resources/views/blog/index.html.twig #}
{% set iframeSet = app.request.query.get("iframe") == 1 or app.session.get('iframe') == 1 %}
{% extends iframeSet ? 'mdtsBackendBundle::baseiframe.html.twig' : 'mdtsBackendBundle::base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block before_javascripts %}
  <script>
      var jsontelslieu = JSON.parse('{{ telslieu | raw }}');
  </script> 
  <script src='//maps.googleapis.com/maps/api/js?libraries=places&sensor=false'></script>
{% endblock %}

{% block stylesheets %}
{% endblock %}


{% block searchglobal %}
     {% include "mdtsBackendBundle:Partial:searchform.html.twig" with { form: searchForm } %}          
{% endblock %}

{% block body %}
{#{ ld(iframeSet) }#}

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Lieu
        <small>Edition</small>
      </h1>
      <!--ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol-->
    </section>

    {% include "mdtshomeBundle:EventLieu:form_add_edit.html.twig"  with { form: edit_form, option: "edit", labelsubmit: 'Mettre à jour' } %}

{% endblock %}