<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Info</h3>
                </div>

                <!-- /.box-header -->
                <!-- form start -->

                {{ form_start(form, {'attr': {'role': 'form'}}) }}

                <div class="box-body">
                    {# Aucune erreur lors de la creation #}
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button data-gaecategory="Cta" data-gaelabel="Contact Alert Close" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <i class="icon fa fa-check"></i> {{ flashMessage }}
                        </div>
                    {% endfor %}

                    {# Si erreur lors de la creation #}
                    {% for flashMessage in app.session.flashbag.get('warning') %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button data-gaecategory="Cta" data-gaelabel="Contact Alert Close" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <i class="icon fa fa-ban"></i> {{ flashMessage }}
                        </div>
                    {% endfor %}

                    {# liste des champs #}
                    <div class="form-group">
                        {{ form_label(form.name, 'Nom' ) }}
                        {{ form_widget(form.name, {'attr': { 'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.logoFile, 'Logo (format jpg ou png)' ) }}
                        {{ form_widget(form.logoFile, {'attr': { 'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.address, 'Adresse' ) }}
                        {{ form_widget(form.address, {'attr': { 'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label>Recherche Pays/Région/Commune/Quartier</label>
                        <div class="form-group" id="remote_search_paysregioncommunequartier">
                            <input class="form-control typeahead" type="text" placeholder="Recherche Pays/Région/Commune/Quartier">
                        </div>


                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">

                                <label>Pays</label>
                                <div class="clearfix">
                                    <div class="pull-left">
                                        {{ form_widget(form.country, {'attr': {'class': 'form-control select2'}}) }}
                                    </div>
                                    <div class="pull-left">
                                        <a class="btn btn-default btnadd btnaddcountry" title="Créer nouveau"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Région</label>
                                <div class="clearfix">
                                    <div class="pull-left">
                                        {{ form_widget(form.region, {'attr': {'class': 'form-control select2'}}) }}
                                    </div>
                                    <div class="pull-left">
                                        <a class="btn btn-default btnadd btnaddregion" title="Créer nouveau"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Ville (Commune)</label>
                                <div class="clearfix">
                                    <div class="pull-left">
                                        {{ form_widget(form.locality, {'attr': {'class': 'form-control select2'}}) }}
                                    </div>
                                    <div class="pull-left">
                                        <a class="btn btn-default btnadd btnaddville" title="Créer nouveau"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Quartier</label>
                                <div class="clearfix">
                                    <div class="pull-left">
                                        {{ form_widget(form.quartier, {'attr': {'class': 'form-control select2'}}) }}
                                    </div>
                                    <div class="pull-left">
                                        <a class="btn btn-default btnadd btnaddquartier" title="Créer nouveau"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.gps, 'Coordonnées GPS' ) }}

                        <div class="row">
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                {{ form_widget(form.gps, {'attr': { 'class': 'form-control'}}) }}
                            </div>
                            <div class="col-md-3 col-xs-3 col-sm-3" id="btncartegoogle">
                                <a class="btn btn-default">Ouvrir/Fermer la carte</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group maps hidden" id="cartegoogle">
                        <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
                        <div id="map" ></div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.tel, 'Tél' ) }}
                        {{ form_widget(form.tel, {'attr': { 'class': 'telinput form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.telmultiple, 'Autres tél' ) }}
                        <div id="collectiontelContainer"
                             data-prototype="
                           {% filter escape %}
                               {{ include('mdtsBackendBundle:Partial:proto_telmultiple.html.twig', { 'form': form.telmultiple.vars.prototype }) }}
                           {% endfilter %}">
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.email, 'Email' ) }}
                        {{ form_widget(form.email, {'attr': { 'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.facebook, 'Page Facebook' ) }}
                        {{ form_widget(form.facebook, {'attr': { 'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.www, 'Site Internet' ) }}
                        {{ form_widget(form.www, {'attr': { 'class': 'form-control'}}) }}
                    </div>


                    {# liste des champs #}

                </div>
                <!-- /.box-body -->




                <div class="box-footer">

                    {% if iframeSet is defined and iframeSet == true %}
                    <a class="btn btn-default" id="btn_closeparentiframe" href="javascript:;">
                        {% else %}
                        <a class="btn btn-default" href="{{ path('admin_eventlieu') }}">
                            {% endif %}
                            <i class="icon fa fa-chevron-left"></i> Retour
                        </a>

                        {{ form_widget(form.submit, {'label': labelsubmit , 'attr': {'value' : 'Envoyer' ,'class': 'btn btn-primary'}}) }}
                </div>

                <div class="hidden">
                    {{ form_rest(form) }}
                </div>
                {{ form_end(form) }}