{# app/Resources/views/blog/index.html.twig #}
{% extends 'mdtsBackendBundle::base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block javascripts %}
 <script src="{{ asset('bower_components/intl-tel-input/build/js/intlTelInput.min.js') }}"></script>
 <script src="{{ asset('bower_components/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js') }}"></script>
{% endblock %}

{% block stylesheets %}
 <script src='//maps.googleapis.com/maps/api/js?libraries=places&sensor=false'></script>
 <script src="{{ asset('assets/js/gmaps.js') }}"></script>
 <link rel="stylesheet" href="{{ asset('bower_components/intl-tel-input/build/css/intlTelInput.css') }}">
{% endblock %}


{% block searchglobal %}
     {% include "mdtsBackendBundle:Partial:searchform.html.twig" with { form: searchForm } %}          
{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Lieu
        <small>Créer</small>
      </h1>
      <!--ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol-->
    </section>

    {% include "mdtshomeBundle:EventLieu:form_add_edit.html.twig"  with { form:  form , labelsubmit: 'Créer'} %}

{% endblock %}
