{# app/Resources/views/blog/index.html.twig #}
{% set iframeSet = app.request.query.get("iframe") == 1 or app.session.get('iframe') == 1 %}
{% extends iframeSet ? 'mdtsBackendBundle::baseiframe.html.twig' : 'mdtsBackendBundle::base.html.twig' %}



{% block title %}Modification Artiste / DJ / Organisateur{% endblock %}

{% block before_javascripts %}
     {% if app.request.query.get("iframe") == 1 and app.request.query.get("img") != '' %}
    <script>
        var imageByFlyer = '{{ app.request.query.get("img") }}';
    </script>
    {% endif %}
    <script>
        {% if articlesevent is defined %}
         var jsonarticlesevent = JSON.parse('{{ articlesevent | raw }}');
        {% endif %} 
    </script>

 {% endblock %}

{% block stylesheets %}
{% endblock %}


{% block searchglobal %}
     {% include "mdtsBackendBundle:Partial:searchform.html.twig" with { form: searchForm } %}          
{% endblock %}

{% block body -%}

    {#{ app.session.get('iframe')|ladybug_dump  }#}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="clearfix">
            <div class="pull-left">
                <h1>
                    {% if entity.photo is defined and entity.photo is not empty  %}<img width="40" data-photo="{{ entity.photo }}" data-name="{{ entity.name }}" data-id="{{ entity.id }}" id="circleimage" src="{{ asset('assets/artistes/'~entity.photo|replace({'jpg':'png'}) ) }}" alt="" />{%endif%} Artiste / DJ / Organisateur : &laquo;{{ entity.name }}&raquo;
                    <small>Edition</small>
                </h1>
            </div>
            <div class="pull-right">
                <br ><a  target="_blank" class="btn btn-md btn-default" href="{{ path('mdts_allevent_byartists', {'slug': entity.origSlug}) }}">
                    <i class="fa fa-external-link"></i>  Lien vers la page événements de l'artiste
                </a>
            </div>
        </div>


    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Info</h3>
            </div>

            <!-- /.box-header -->
            <!-- form start -->

              {% include "mdtshomeBundle:EventArtistesDjOrganisateurs:form_add_edit.html.twig"  with { form: edit_form }  %}

        </div>
          <!-- /.box -->
          </div>
          </div>

      </section>
    <!-- /.content -->
{% endblock %}
