{# app/Resources/views/blog/index.html.twig #}
{% extends app.request.query.get("iframe") == 1 ? 'mdtsBackendBundle::baseiframe.html.twig' : 'mdtsBackendBundle::base.html.twig' %}


{% block title %}Création devise{% endblock %}

{% block javascripts %}
 
 {% endblock %}

{% block stylesheets %}
{% endblock %}


{% block searchglobal %}
     {% include "mdtsBackendBundle:Partial:searchform.html.twig" with { form: searchForm } %}          
{% endblock %}

{% block body -%}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Artiste / DJ / Organisateur
        <small>Créer</small>
      </h1>

    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Info</h3>
            </div>

            <!-- /.box-header -->
            <!-- form start -->

              {% include "mdtshomeBundle:EventArtistesDjOrganisateurs:form_add_edit.html.twig"  with { form: form }  %}




        </div>
          <!-- /.box -->
          </div>
          </div>

      </section>
    <!-- /.content -->
{% endblock %}
