<div class="row blocclone">
    <div class="col-md-3">
        <div class="form-group">     
            {{ form_label(form.price, 'Prix') }}
            {{ form_widget(form.price, {'attr': {'placeholder' : 'ex: 25', 'class': 'price form-control'}}) }}
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.devises, 'Devise') }}
            {{ form_widget(form.devises, {'attr': { 'class': 'form-control'}}) }}

        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">

            {{ form_label(form.detailprice, 'Détail') }}
             
            <div class="clearfix">
                <div class="pull-left">
                    {{ form_widget(form.detailprice, {'attr': {'placeholder' : 'Ex: pour les -12 ans', 'class': 'detailprice form-control'}}) }}
                </div>
                <div class="pull-left" style="padding-left:5px;"> 
                    <a onclick="duplicatePrice(this);" class="btn btn-default btnadd btnaddevise" title="Ajouter une ligne"><i class="fa fa-plus-circle"></i></a>
                    <a onclick="removelinePrice(this);" class="hidden btn btn-default " title="Supprimer cette ligne"><i class="fa fa-trash"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>