<div class="row blocclone_video">
     
    <div class="col-md-12">
        <div class="form-group">
            {{ form_label(form.url, 'Url') }}
            <div class="clearfix">
                <div class="pull-left" style="width:90%;">
                    {{ form_widget(form.url, {'attr': { 'class': 'form-control'}}) }}
                </div>
                <div class="pull-left" style="padding-left:5px;"> 
                    <a onclick="duplicateVideo(this);" class="btn btn-default btnadd btnaddevise" title="Ajouter une ligne"><i class="fa fa-plus-circle"></i></a> 
                    <a onclick="removelineVideo(this);" class="hidden btn btn-default " title="Supprimer cette ligne"><i class="fa fa-trash"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>