<div class="row blocclone_articles">
     
    <div class="col-md-12">
        <div class="form-group">
            {{ form_label(form.url, 'Url de l\'article') }}
            <div class="clearfix">
                <div class="pull-left" >
                    <div class="checkbox"> 
                        {{ form_widget(form.addartiste, {'attr': { 'checked':'checked', 'title': 'Ajouter cet article aux artistes', 'data-placement' : 'top', 'data-toggle' : 'tooltip',  'class': 'styled'}}) }}
                        <label ></label>
                    </div>
                </div>
                <div class="pull-left" style="padding-left:5px;width:60%;">
                    {{ form_widget(form.url, {'attr': { 'class': 'form-control'}}) }}
                </div>
                <div class="pull-left" style="padding-left:5px;"> 
                    <a onclick="duplicateArticles(this);" class="btn btn-default btnadd btnaddevise" title="Ajouter une ligne"><i class="fa fa-plus-circle"></i></a> 
                    <a onclick="removelineArticles(this);" class="hidden btn btn-default " title="Supprimer cette ligne"><i class="fa fa-trash"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>