<div class="row blocclone_flyer">
    <div class="col-md-7">
        {{ form_label(form.image, 'Image') }}
        {{ form_widget(form.image, {'attr': { 'class': 'form-control'}}) }}
    </div> 
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.ismain, 'Principal') }}
            <div class="clearfix">
                <div class="pull-left">
                    {{ form_widget(form.ismain, {'attr': { 'class': 'form-control'}}) }}
                </div>
                <div class="pull-left" style="padding-left:5px;"> 
                    
                    
                    <a onclick="duplicateFlyer(this);" class="btn btn-default btnadd btnaddevise" title="Ajouter une ligne"><i class="fa fa-plus-circle"></i></a> 
                    <a onclick="removelineFlyer(this);" class="hidden btn btn-default " title="Supprimer cette ligne"><i class="fa fa-trash"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>