<a data-toggle="tooltip" title="{{'Ajouter gratuitement un événement sur ce site'|trans}}" style="margin-top: 15px;" class="btn btn-primary btn-lg" href="{{ path('mdts_frontendB_eventC_addeventA' ) }}"><em class="glyphicon glyphicon-plus"></em> {{'Ajouter un événement'|trans}}</a>
