{% if nb_event > 0 %}
    <h4>On en parle sur internet</h4>
    {% for item in articlesrecentsall %}
        {% if loop.index <= 7 %}

            {% if loop.index == 1 %}
                {% if item.events | length > 0 %}
                    <div class="media">
                        <div class="media-left">

                            <a title="{{ item.article.title }}" href="{{ path('mdts_detailevent', {'slug': item.events[0].origSlug}) }}">{% if item.events[0].flyer != "" %}<img class="media-object" src="{{ ('/assets/flyers/' ~ item.events[0].flyer ) | imagine_filter('my_thumb_70') }}" />{% else %}<img class="media-object" src="{{ ('/assets/flyers/xxxxxnoimage.jpg'  ) | imagine_filter('my_thumb_70') }}" />{% endif %}</a>

                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a title="{{ item.article.title }}" class="txt-red-darken-4" href="{{ path('mdts_detailevent', {'slug': item.events[0].origSlug}) }}">{{ item.article.title | slice(0,50) ~ '...'    }}</a></h4>
                            {{ item.article.content | raw | striptags | slice(0,100) ~ '...'   }}
                        </div>
                    </div><hr>
                {% endif %}
            {% endif %}

            {% if loop.index > 1 %}
                {% if loop.index in [2,4,6] %}
                    <div class="row">
                {% endif %}
                {% if item.events | length > 0 %}
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="media">
                            <div class="media-left">

                                <a title="{{ item.article.title }}" href="{{ path('mdts_detailevent', {'slug': item.events[0].origSlug}) }}">{% if item.events[0].flyer != "" %}<img class="media-object" src="{{ ('/assets/flyers/' ~ item.events[0].flyer ) | imagine_filter('my_thumb_70') }}" />{% else %}<img class="media-object" src="{{ ('/assets/flyers/xxxxxnoimage.jpg'  ) | imagine_filter('my_thumb_70') }}" />{% endif %}</a>

                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a title="{{ item.article.title }}" class="txt-red-darken-4" href="{{ path('mdts_detailevent', {'slug': item.events[0].origSlug}) }}">{{ item.article.title | slice(0,15) ~ '...'    }}</a></h4>
                                {{ item.article.content | raw | striptags | slice(0,30) ~ '...'   }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if loop.index in [3,5,7] %}
                    </div><hr>
                {% endif %}

            {% endif %}


        {% endif %}
    {% endfor %}
{% endif %}