{% if localevent|length <= 1 or localevent|length >= 4 and nb_event > 0 %}

    <h4>On en parle sur internet</h4> {# { articlesrecents | length } #}
    {% for item in articlesrecentsall %}
        {% if loop.index <= 10 %}

            {% if loop.index == 1 %}
                {% if item.events | length > 0 %}
                    <div class="media">
                        <div class="media-left">

                            <a title="{{ item.article.title }}" href="{{ path('mdts_detailevent', {'slug': item.events[0].origSlug}) }}">{% if item.events[0].flyer != "" %}<img class="media-object" src="{{ ('/assets/flyers/' ~ item.events[0].flyer ) | imagine_filter('my_thumb_70') }}" />{% else %}<img class="media-object" src="{{ ('/assets/flyers/xxxxxnoimage.jpg'  ) | imagine_filter('my_thumb_70') }}" />{% endif %}</a>

                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a title="{{ item.article.title }}" class="txt-red-darken-4" href="{{ path('mdts_detailevent', {'slug': item.events[0].origSlug}) }}">{{ item.article.title   }}</a></h4>
                            {{ item.article.content | raw | striptags | slice(0,150) ~ '...'   }}
                        </div>
                    </div><hr>
                {% endif %}
            {% endif %}

            {% if loop.index > 1 %}
                {% if loop.index == 2 %}
                    <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                {% endif %}

            {% if loop.index == 4 %}
                <div class="col-xs-12 col-sm-6 col-md-6">
            {% endif %}

                {% if loop.index in [2,3] %}
                    {# 2 lignes seulement dans la colonne de gauche#}
                    {% if item.events | length > 0 %}
                        <div class="media">
                            <div class="media-left">

                                <a title="{{ item.article.title }}" href="{{ path('mdts_detailevent', {'slug': item.events[0].origSlug}) }}">{% if item.events[0].flyer != "" %}<img class="media-object" src="{{ ('/assets/flyers/' ~ item.events[0].flyer ) | imagine_filter('my_thumb_70') }}" />{% else %}<img class="media-object" src="{{ ('/assets/flyers/xxxxxnoimage.jpg'  ) | imagine_filter('my_thumb_70') }}" />{% endif %}</a>

                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a title="{{ item.article.title }}" class="txt-red-darken-4" href="{{ path('mdts_detailevent', {'slug': item.events[0].origSlug}) }}">{{ item.article.title | slice(0,50) ~ '...'    }}</a></h4>
                                {{ item.article.content | raw | striptags | slice(0,60) ~ '...'   }}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

            {% if loop.index == 3 %}
                </div>
            {% endif %}

                {% if loop.index in [4,5,6,7 ] %}
                    {# autres lignes dans la colonne de gauche#}
                    {% if item.events | length > 0 %}
                        <a data-gaecategory="Lien" data-gaelabel="(Article Presse - Titre: {{ item.article.title }} "  class="list-group-item " href="{{ path('mdts_detailevent', {'slug': item.events[0].origSlug}) }}"  >
                            <span class="list-group-item-heading">{{ item.article.title | slice(0,100) ~ '...'    }}</span>

                        </a>
                    {% endif %}
                {% endif %}

                {% if loop.index == 7 %}
                    {# Fermeture colonne de gauche#}
                    </div>
                    {# Fermeture ligne div.row#}
                    </div>
                {% endif %}

            {% endif %}


        {% endif %}
    {% endfor %}


{% endif %}