{% if nowrap is not defined %}
<div class="col-xs-12 col-sm-6 col-md-3 height-475px">

          <div class="thumbnail itemevent relativeposition" >
              {% endif %}
            {# Tarif begin #}
            {% if item.entreetype.id is defined and item.entreetype.id == 1 %}
              <div class="tarifopacity"><strong>{{ item.entreetype.name }}</strong></div>
            {% endif %}
            {# Tarif end #}

            {# Flyer begin #}
            {% if item.origSlug != "" and item.flyer is defined %}

            <a  data-gaecategory="Lien Image" data-gaelabel="Item - {{ item.name }}" href="{{ path('mdts_detailevent', {'slug': item.origSlug}) }}">

                {% if item.cancelledAt == 1 and item.flyercancelled != '' %}
                    <img  alt="" class="height330 lazy" data-original="{{ ('/assets/flyers/' ~ item.flyercancelled ) | imagine_filter('my_thumb') }}" >
                {% elseif item.flyer != "" %}
                    <img  alt="" src="{{ ('/assets/flyers/' ~ item.flyer ) | imagine_filter('resize20px') }}"  class="height330 lazy" data-original="{{ ('/assets/flyers/' ~ item.flyer ) | imagine_filter('my_thumb') }}"  >
                {% else %}
                    <img  alt=""   class="height330 lazy" data-original="{{ ('/assets/flyers/xxxxxnoimage.jpg'  ) | imagine_filter('my_thumb') }}"  >
                {% endif %}

            </a>
            {% endif %}
            {# Flyer end #}



              <div class="caption">


                {# Titre begin #}
                <h4 class="truncate">{% if item.origSlug != "" %}<a data-gaecategory="Lien" data-gaelabel="Item - {{ item.name }}" class="txt-red-darken-4" href="{{ path('mdts_detailevent', {'slug': item.origSlug}) }}">{{ item.name }}</a>{% endif %}</h4>
                {# Titre end #}

                {# Description begin #}
                <p data-gaecategory="Texte" data-gaelabel="(Paragraphe) Item - {{ item.name }}" class="para_height_fix">
                {% if item.eventlieu.name is defined and item.eventlieu.id != 1 %}
                  <a  role="button" data-toggle="tooltip" data-placement="top" title="{{'show.categ'|trans({'%categ%': item.eventlieu.name}) }}" href="{{ path('mdts_allevent_place', {'slug': item.eventlieu.origSlug}) }}" class="txt-red-darken-4">{{ item.eventlieu.name }}</a> <br>
                    {% for type in item.eventtype %}
                      <a  class="txt-red-darken-4" data-gaecategory="Lien" data-gaelabel="(Classé dans) {{ type.name }}" href="{{ path('mdts_allevent_type', {'slug': type.origSlug}) }}"  data-toggle="tooltip" data-placement="top" title="{{'show.categ'|trans({'%categ%': type.name}) }}">#{{ type.name }}</a>
                   {% endfor %}
                {% elseif item.description != '' %}
                  {{ item.description|truncate(70, true) }}
                {% endif %}
                </p>
                {# Description begin #}

                {# Share begin #}
                <div  class="btn-group share-group pull-right dropdown-toggle-share">
                    <a data-gaecategory="Cta" data-gaelabel="(Share gauche) Item - {{ item.name }}" data-toggle="dropdown" class="btn-sm btn btn-default" title="Partager">
                         <i class="fa fa-share-alt  "></i>
                    </a>
            <button href="#" data-gaecategory="Cta" data-gaelabel="(Share droite) Item - {{ item.name }}" data-toggle="dropdown" class="btn-sm btn btn-default dropdown-toggle ">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                  <a data-gaecategory="Lien" data-gaelabel="(Share Twitter) Item - {{ item.name }}" data-original-title="Twitter" title="Partager sur Twitter" rel="tooltip"  href="#" class="btn btn-twitter" data-placement="left">
                <i class="fa fa-twitter"></i>
              </a>
              </li>
              <li>
                <a data-gaecategory="Lien" data-gaelabel="(Share Facebook) Item - {{ item.name }}" data-original-title="Facebook" title="Partager sur Facebook" rel="tooltip"  href="#" class="btn btn-facebook" data-placement="left">
                <i class="fa fa-facebook"></i>
              </a>
              </li>
              <li>
                <a data-gaecategory="Lien" data-gaelabel="(Share Google) Item - {{ item.name }}" data-original-title="Google+" title="Partager sur Google+" rel="tooltip"  href="#" class="btn btn-google" data-placement="left">
                <i class="fa fa-google-plus"></i>
              </a>
              </li>

                    </ul>
          </div>
            {# Share end #}

            {# Date begin #}





                <span data-gaecategory="Texte" data-gaelabel="(Date et/ou Heure) Item - {{ item.name }}">


                    {{ showDateEvent(item) | raw }}


                </span>
                {# Date end #}

            </div>

    {% if nowrap is not defined %}
          </div>
        </div>
{% endif %}