{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<div class="container">  

{% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

			{% if is_granted("IS_AUTHENTICATED_FULLY") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.nickname}, 'FOSUserBundle') }}
                <a class="btn btn-default" href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>             
            {% endif %}  

{% if  is_granted("IS_AUTHENTICATED_FULLY") == false %}            
	      

<h3>Se connecter via les réseaux sociaux ou <a href="{{ path('fos_user_registration_register') }}">créer un compte</a>.</h3>

 

<div class="row">
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" style="margin-top: 5px;">
        <a class="btn btn-lg btn-social btn-facebook btn-default" href="{{ hwi_oauth_login_url('facebook') }}">
            <span class="fa fa-facebook"></span> Se connecter via Facebook
        </a>
    </div>

    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" style="margin-top: 5px;">
        <a class="btn btn-lg btn-social btn-google btn-default" href="{{ hwi_oauth_login_url('google') }}">
            <span class="fa fa-google"></span> Se connecter via Google+
        </a>
    </div>

</div>

    <div class="row omb_row-sm-offset-3 omb_loginOr">
        <div class="col-xs-12 col-sm-12">
            <hr class="omb_hrOr">
            <span class="omb_spanOr">ou</span>
        </div>
    </div>
    {% if error %}
        <div class="alert alert-warning" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
<form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal" role="form">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <div  class="form-group">
    	<span  class="input-group">
    		<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    		<input placeholder="{{ 'security.login.username'|trans }}" type="text" id="username" name="_username" value="{{ last_username }}"  class="form-control" required="required" />
    	</span>
    </div>
    <div  class="form-group">
    	<span  class="input-group">
    		<span class="input-group-addon"><i class="glyphicon glyphicon glyphicon glyphicon-eye-open"></i></span>
    		<input class="form-control" placeholder="{{ 'security.login.password'|trans }}" type="password" id="password" name="_password" required="required" />
    	</span>
    </div>
    <div class="form-group">
        <div class="row">
        	<div class="col-sm-6 col-md-6 col-xs-12">
		        <div class="checkbox">
		        	
		    		<input type="checkbox" id="remember_me" name="_remember_me"  class="styled" value="on" />
		    		<label for="remember_me">
		    			{{ 'security.login.remember_me'|trans }}
		    		</label>
				</div>
			</div>

			<div class="col-sm-6 col-md-6 col-xs-12">
				<div class=" pull-right">

					<button type="submit" id="_submit"  class="btn btn-default btn-large btn-primary" name="_submit" >{{ 'security.login.submit'|trans }}</button>
                    <a href="{{ path('fos_user_resetting_request') }}" class="btn btn-default">Mot de passe oublié ?</a>
				</div>
			</div>
		</div>

	</div>

	 
</form>
{% endif %}
			 
</div>
{% endblock fos_user_content %}
