<div class="col-xs-12 col-sm-6 {% if archive_place is defined and archive_place|length>0 %}col-md-4{%else%}col-md-3{% endif %}">
          <div class="thumbnail itemevent relativeposition" >
            {# Tarif begin #}
            {% if item.entreetype.id is defined and item.entreetype.id == 1 %}
              <div class="tarifopacity"><strong>{{ item.entreetype.name }}</strong></div>
            {% endif %}
            {# Tarif end #}

            {# Flyer begin #}
            {% if item.flyer is defined %}             
            <a  data-gaecategory="Lien Image" data-gaelabel="Item - {{ item.name }}" href="{{ path('mdts_detailevent', {'slug': item.slug}) }}"><img  alt="" class="height330 lazy" data-original="{{ ('/assets/flyers/' ~ item.flyer ) | imagine_filter('my_thumb') }}"></a> 
            {% endif %}
            {# Flyer end #}


            
              <div class="caption"> 

              
                {# Titre begin #}
                <h4 class="truncate"><a data-gaecategory="Lien" data-gaelabel="Item - {{ item.name }}" class="txt-red-darken-4" href="{{ path('mdts_detailevent', {'slug': item.slug}) }}">{{ item.name }}</a></h4>
                {# Titre end #}

                {# Description begin #}
                <p data-gaecategory="Texte" data-gaelabel="(Paragraphe) Item - {{ item.name }}" class="para_height_fix">
                {% if item.eventlieu.name is defined and item.eventlieu.id != 1 %}
                  <a  role="button" data-toggle="tooltip" data-placement="top" title="{{'show.categ'|trans({'%categ%': item.eventlieu.name}) }}" href="{{ path('mdts_allevent_place', {'slug': item.eventlieu.slug}) }}" class="txt-red-darken-4">{{ item.eventlieu.name }}</a> <br>
                    {% for type in item.eventtype %}
                      <a  class="txt-red-darken-4" data-gaecategory="Lien" data-gaelabel="(Classé dans) {{ type.name }}" href="{{ path('mdts_allevent_type', {'slug': type.slug}) }}"  data-toggle="tooltip" data-placement="top" title="{{'show.categ'|trans({'%categ%': type.name}) }}">#{{ type.name }}</a>
                   {% endfor %}
                {% elseif item.description != '' %}
                  {{ item.description|truncate(70, true) }}
                {% endif %}
                </p>
                {# Description begin #} 
                 
                {# Share begin #}
                <div  class="btn-group share-group pull-right dropdown-toggle-share">
                    <a data-gaecategory="Cta" data-gaelabel="(Share gauche) Item - {{ item.name }}" data-toggle="dropdown" class="btn-sm btn btn-default" title="Partager">
                         <i class="fa fa-share-alt  "></i>
                    </a>
            <button href="#" data-gaecategory="Cta" data-gaelabel="(Share droite) Item - {{ item.name }}" data-toggle="dropdown" class="btn-sm btn btn-default dropdown-toggle ">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                  <a data-gaecategory="Lien" data-gaelabel="(Share Twitter) Item - {{ item.name }}" data-original-title="Twitter" title="Partager sur Twitter" rel="tooltip"  href="#" class="btn btn-twitter" data-placement="left">
                <i class="fa fa-twitter"></i>
              </a>
              </li>
              <li>
                <a data-gaecategory="Lien" data-gaelabel="(Share Facebook) Item - {{ item.name }}" data-original-title="Facebook" title="Partager sur Facebook" rel="tooltip"  href="#" class="btn btn-facebook" data-placement="left">
                <i class="fa fa-facebook"></i>
              </a>
              </li>         
              <li>
                <a data-gaecategory="Lien" data-gaelabel="(Share Google) Item - {{ item.name }}" data-original-title="Google+" title="Partager sur Google+" rel="tooltip"  href="#" class="btn btn-google" data-placement="left">
                <i class="fa fa-google-plus"></i>
              </a>
              </li>
                
                    </ul>
          </div>
            {# Share end #}

            {# Date begin #}





                <span data-gaecategory="Texte" data-gaelabel="(Date et/ou Heure) Item - {{ item.name }}">




                  {% if item.dateUnique.format('U') > 0 %}



                      {% if date(item.dateUnique)<date() %}
                          {% if item.EventDate is defined %}
                          
                              {% for date in item.EventDate %}



                              		

                              	   {% if loop.length>1 and loop.index < 4 %}
                              	   {# Limiter l'affichage à 3 items #}		
                                   		{{  date.date|date('d/m') }}{% if loop.index < loop.length %}, {% endif %}
                                   {% else %}
                                   		{# Une seule date #}
                                   		{% if item.heureFin|date('H:i') != '00:00' %}
			                              Le {{  item.dateUnique|date('d/m') }}  De {{ item.heureDebut|date('H:i') }} à {{ item.heureFin|date('H:i') }}
			                          {% elseif item.heureFinAube == 1 %}
			                              Le {{ item.dateUnique|localizeddate('short', 'none' ) }}  de {{ item.heureDebut|date('H:i') }} à l'aube
			                          {% else %}
			                              Le {{ item.dateUnique|localizeddate('medium', 'none' ) }}  à {{ item.heureDebut|date('H:i') }}
			                          {% endif %}
                                   {% endif %}


                                  


                                  
                              {% endfor %}


                              

                              {# Afficher ... si + de 3 items #}
                              {% if item.EventDate|length > 3 %} ... {% endif %}

                          {% endif %}

                      {% else %}

                          {% if item.heureFin|date('H:i') != '00:00' %}
                              Le {{  item.dateUnique|date('d/m') }}  De {{ item.heureDebut|date('H:i') }} à {{ item.heureFin|date('H:i') }}
                          {% elseif item.heureFinAube == 1 %}
                              Le {{ item.dateUnique|localizeddate('short', 'none' ) }}  de {{ item.heureDebut|date('H:i') }} à l'aube
                          {% else %}
                              Le {{ item.dateUnique|localizeddate('medium', 'none' ) }}  à {{ item.heureDebut|date('H:i') }}
                          {% endif %}

                      {% endif %}
                  


                  {% else %}

                    {# cas1 - le mois et l'année sont identiques #}
                    {% if item.dateDebut|date('m') == item.dateFin|date('m') and item.dateDebut|date('Y') == item.dateFin|date('Y') %}
                      Du {{ item.dateDebut|date('d') }} au {{ item.dateFin|localizeddate('short', 'none',null, null, "d MMM yyyy" ) }}

                    {# cas2 - le mois sont différents mais l'année est identique #}
                    {% elseif item.dateDebut|date('m') != item.dateFin|date('m') and item.dateDebut|date('Y') == item.dateFin|date('Y') %}
                      Du {{ item.dateDebut|date('d/m') }} au {{ item.dateFin|date('d/m/Y') }}

                    {# cas3 - l'année est différent - ex: cheval entre decembre et janvier #}
                    {% else %}
                      Du {{ item.dateDebut|date('d/m/Y') }} au {{ item.dateFin|date('d/m/Y') }}
                    {% endif %}  

                {% endif %}
                </span>
                {# Date end #}

            </div>
          </div>
        </div>