{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
    <h3>Ré-initialiser le mot de passe</h3>
{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'form-horizontal' } }) }}
	<div class="form-group">
        <div class="input-field col s12">
            <span  class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Mot de passe','class': 'form-control'}}) }}
                </span>
        </div>
        {{ form_errors(form.plainPassword.first) }}
    </div>
    <div class="form-group">
        <div class="input-field col s12">
            <span  class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Confirmer le mot de passe','class': 'form-control'}}) }}
                </span>
        </div>
        {{ form_errors(form.plainPassword.second) }}
    </div>
    <div class="form-group">
         
        <button class="btn btn-primary" type="submit" name="action">
            <i class="fa fa-send"></i>
            {{ 'registration.submit'|trans }}
        </button>
    </div>
     
{{ form_end(form) }}
</div>
