{# app/Resources/views/blog/index.html.twig #}
{% extends 'mdtshomeBundle::popup.html.twig' %}
{% block htmlHead %}
 <script src='https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyA4V2bFGbMSqPUObHKMjTt1Sy6ar5SaWnE'></script>
 <script src="{{ asset('assets/js/gmaps.js') }}"></script>
 <style type="text/css">
  .maps #map {
    height: 400px;
  }
 </style>
{% endblock %}
{% block body %}
<input type="hidden" id="mdts_homebundle_eventlieu_gps" value="{{ app.request.query.get('gps') }}" />
  <div class="form-group maps hidden" id="cartegoogle">
    <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
    <div id="map" ></div>
  </div>
  {% include "mdtsBackendBundle:Partial:jsfootergenerique.html.twig"  %}
  <script type="text/javascript">initMap(8);</script>
{% endblock %}